.index {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
}

thead th {
  width: 50%;
}
th {
  background-color: rgb(106, 152, 213);
}
th,
td {
  padding: 10px;
}

#completed {
  width: 20%;
}

td {
  text-align: center;
  padding: 0px 20px;
}

tbody tr:nth-child(even) {
  background: #60a5ff;
}
tbody tr:nth-child(odd) {
  background: #8dcaf8;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
  color: rgb(154, 222, 241);
}
