.list-info {
  height: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-info h1 {
  margin: 0;
  padding: 10px;
}
.show-info {
  padding: 10px;
  background-color: rgb(122, 186, 255);
  border-radius: 50px;
  border: 3px solid rgb(63, 63, 255);
  margin: 30px;
  margin-bottom: 20px;
  width: 50%;
}

.listImg {
  width: 50%;
  height: 50%;
  border-radius: 20px;
}
.buttons {
  display: flex;
  justify-content: center;
}

.navButtons {
  all: unset;
  cursor: pointer;
  margin: 10px;
  background-color: rgb(93, 152, 241);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 4, 255);
  border-radius: 24px;
  padding: 5px 20px 5px 20px;
  height: 35px;
  width: 200px;
  font-size: 18px;
}

.navButtons:hover {
  background-color: cornflowerblue;
  color: darkslateblue;
  border-color: aquamarine;
}

.related-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.ind-cards {
  border: 2px solid rgb(150, 150, 251);
  border-radius: 30px;
  background-color: rgb(153, 196, 243);
  width: 100%;
  padding: 20px;
}
.related-imgs {
  width: 200px;
  border-radius: 20px;
}

@media (max-width: 700px) {
  .show-info {
    width: 80%;
  }

  .buttons {
    flex-direction: column;
  }

  .related-list {
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  .listImg {
    width: 80%;
  }

  .related-imgs {
    width: 70%;
  }
}
