@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Kalam", cursive;
  font-size: 20px;
}

.home {
  margin: 0 auto;
  text-align: center;
  padding-top: 1rem;
}

#home {
  height: 105vh;
}

.dark {
  color: #efebeb;
  background-color: #123e6d;
}
.light {
  color: #123e6d;
  background-color: #c3e0fd;
}

.about {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.about-info {
  background-color: rgb(130, 189, 249);
  padding: 1rem;
  border-radius: 50px;
  border: 2px solid blue;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.294);
  width: 50%;
}
.about h2 {
  margin: 0 auto;
}

.about img {
  height: 35%;
  width: 35%;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.294);
  border: 2px solid blue;
  margin-top: 20px;
}

.about h3 {
  background-color: rgba(104, 132, 243, 0.752);
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid blue;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.294);
  font-size: 20px;
}

.socials a {
  padding: 20px;
}

.welcome-img {
  width: 20%;
  height: 20%;
}

.welcome-btn {
  background-color: #276cb6;
  width: 10%;
  background-color: rgb(93, 152, 241);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(65, 245, 255);
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  height: 35px;
  font-size: 18px;
}

.light .secret-text {
  color: #c3e0fd;
}

.dark .secret-text {
  color: rgb(100, 100, 219);
}

@media (max-width: 700px) {
  .welcome-img {
    width: 50%;
  }

  .about-info {
    width: 80%;
  }

  .about-info img {
    width: 60%;
  }
}
